h2 {
	font-size: 22pt;
    color: #188BAE;
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 2em
}

h3 {
	font-size: 16pt;
    color: black;
    display: inline;
    line-height: 1em;
}

body {
	color: blue;
}

div {
	color: red;
}