<!DOCTYPE html>	

<html>
<head>

	<title>RichRelevance FeedValidator</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- jQuery files -->
	<script type="text/javascript">
		$(document).ready(function() {
		      // alert("document ready occurred!");


		});
	</script>
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<h1><a class="navbar-brand" href="#">RR Feed Validator</a></h1>
	</nav>

	<div class="container-fluid">    
	  <div class="row content" style="margin-bottom: 25px">
	    <div class="col-sm-1 sidenav">
	    </div>

	    <div class="col-sm-10"> 
			<form method="POST" action="uploadFile" enctype="multipart/form-data">
				<h2><strong>Direct to ZIP File:</strong></h2>
				<input type="file" name="file" />
			</form>
	    </div>

	    <div class="col-sm-1 sidenav">
	    </div>
	  </div>
			<div class="page">
				{% block body %}{% endblock %}
			</div>
	</div>

	<footer class="container-fluid text-center">
	  <p>&copy; Copyright RichRelevance 2017</p>
	</footer>

</body>

</html>

