<!DOCTYPE html>	

<html>
<head>

	<title>RichRelevance FeedValidator</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- jQuery files -->
	<script type="text/javascript">
		$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
  	var input = $(this),
  	numFiles = input.get(0).files ? input.get(0).files.length : 1,
  	label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  	input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
  	$(':file').on('fileselect', function(event, numFiles, label) {

  		var input = $(this).parents('.input-group').find(':text'),
  		log = numFiles > 1 ? numFiles + ' files selected' : label;

  		if( input.length ) {
  			input.val(log);
  		} else {
  			if( log ) alert(log);
  		}

  	});
  });
  
});

</script>
</head>
<body>
	<nav class="navbar navbar-toggleable-md fixed-top" style="background-color: #990000">
		<h1 class="navbar-brand vertical-center text-center" style="color:white; font-size:30px;">RR Feed Validator</h1>
	</nav>

	<div class="container-fluid">    
		<div class="row content" style="margin-bottom: 25px">
		<div class="col-sm-4 sidenav">
			</div>

			<div class="col-sm-4 text-center"> 
				<form class="form-horizontal" method="GET" action="/check" enctype="multipart/form-data">
					<div class="form-group">
						<h2><strong>Choose a Feed File to Validate:</strong></h2>
						<div class="input-group">
							<label class="input-group-btn">
								<span class="btn btn-default btn-md">
									Browse&hellip; <input type="file" name="file" style="display: none;" multiple>
								</span>
							</label>
							<input type="text" class="form-control" readonly>
						</div>
						<br>
						<button class="btn btn-primary btn-lg" type="submit">Validate Feed</button>
					</div>
				</form>
			</div>
			<div class="col-sm-4 sidenav">
			</div>
		</div>
		<div class="page">
			{% block body %}{% endblock %}
		</div>
	</div>
		<footer class="container-fluid text-center">
			<p>&copy; Copyright RichRelevance 2017</p>
		</footer>

</body>

</html>

